.btn {
  padding: 30px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #e8b748;
  box-shadow: -9px 21px 70px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.btn.lifted {
  padding: 40px;
  transform: scale3d(1.1, 1.1, 1);
  background-color: #fcbe32;
}

@media only screen and (max-width: 750px) {
  .btn.lifted {
    padding: 30px;
    transform: scale3d(1.1, 1.1, 1);
  }
}

.btn.small {
  padding: 15px;
  font-size: 15px;
  margin-top: 15px;
  background-color: rgba(35, 50, 60, 0.5);
}

.btn.small:hover {
  background-color: rgba(35, 50, 60, 0.75);
}

.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale3d(1, 1, 1);
}
.btn:hover {
  background-color: #fcbe32;
}
