.fullscreen-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;

  position: absolute;
  top: 00px;
  right: 00px;
  cursor: pointer;
  transform: scale(0.8);
  opacity: 0.5;

  transition: opacity 0.2s;
}

.fullscreen-button:hover {
  opacity: 1;
}
