.number {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 0;
  outline: 0;
  transition: color 0.2s, background-color 0.3s;
  border-radius: 4px;
}

.disabled {
  color: var(--button-text-color-disabled);
  background-color: var(--button-color-disabled);
}

@media only screen and (max-width: 750px) {
  .number {
    margin: 2px;
    width: 65px;
    height: 65px;
    font-size: 20px;
    flex-grow: 1;
  }
}
