.number {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #2f2e30;
  background-color: #fcbe32;
  border: 0;
  outline: 0;
  transition: color 0.2s, background-color 0.3s;
}

.active {
  color: #207878;
  background-color: #3ab4b4;
}

@media only screen and (max-width: 750px) {
  .number {
    margin: 2px;
    width: 65px;
    height: 65px;
    font-size: 20px;
    flex-grow: 1;
  }
}
