.introduction {
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 30px;
  margin-bottom: 24px;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
}
