.introduction {
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 200;
}
