html {
  user-select: none;
  color: #fff;
  background-color: #004e66;
  font-family: Roboto, sans-serif;;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: all .3s;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 300;
  font-size: 12px;
}
main {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
a {
  color: #fff;
  text-decoration: underline;
}
a:visited {
  color: #fff;
}
.title {
  font-size: 30px;
  text-transform: uppercase;
}
.subtitle {
  margin-top: -10px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 200;
}
.number {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  background-color: #fcbe32;
  transition: all .2s;
}
.btn {
  padding: 30px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #e8b748;
  box-shadow: -9px 21px 70px -10px rgba(0,0,0,0.20);
  transition: all .2s;
}
.btn.new {
  padding: 40px;
  transform: scale3d(1.1, 1.1, 1);
  background-color: #fcbe32;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale3d(1, 1, 1)
}
.btn:hover {
  background-color: #fcbe32;
}
.active {
  background-color: #3b8686;
}
.done {
  padding: 40px;
  color: #111;
  background-color: #e1eef6;
}
.doneBody {
  background-color: #47b8e0;
}

.leaderboard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(150px);
  text-transform: capitalize;
}
.leaderboard td {
  padding: 10px 50px;
  background-color: #1490bb;
  text-align: right;
  font-weight: 300;
}
.leaderboard .index {
  padding: 20px;
}
