.leaderboard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(150px);
  text-transform: capitalize;
  transition: all .2s;
}
.leaderboard td {
  padding: 10px 50px;
  background-color: #1490bb;
  text-align: right;
  font-weight: 300;
}
.leaderboard .index {
  padding: 20px;
}
