.github {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}
a:visited {
  color: #fff;
}
