:root {
  --text-color: #e3ecee;
  --background-color: #120d26;
  --highlight-color-success: #095d4e;
  --highlight-color-fail: #5d0933;
  --button-color: #201b3a;
  --button-color-disabled: #181427;
  --button-text-color: #e0e4ef;
  --button-text-color-disabled: #643964;
}

html {
  user-select: none;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

main {
  width: 700px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.2s;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color);
  filter: brightness(1.2);
}

#root {
  width: 100%;
  height: 100%;
}
