html {
  user-select: none;
  color: #fff;
  background-color: #004e66;
  font-family: Roboto, sans-serif;;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: all .3s;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

main {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#root {
  width: 100%;
  height: 100%;
}
